body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#wheelCanvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4A235A; /* Deep purple for result text */
}

